:root {
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  /* margin-bottom: 0.75rem; */
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
textarea:focus,
input:focus {
  outline: none;
  box-shadow: var(--dark-shadow);
}
input,
textarea {
  letter-spacing: 0.05rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
html,
body {
  height: 100%;
}
.section {
  width: 90vw;
  margin: 0 auto;
  padding: 3rem 0;
  max-width: var(--max-width);
  display: grid;
  gap: 1rem;
}
.flex-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn,
button {
  background-color: var(--clr-grey-5);
  border-color: transparent;
  align-items: center;
  padding: 0.3rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.1rem;
}
.btn:hover,
button:hover {
  background-color: var(--clr-grey-1);
}
